:root{
    --cor-primaria: #667085;
    --cor-secundaria: #8E2424;
    --cor-terciaria: #101828;
}
  
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    height: 100vh;
    width: 100%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem 0;
}

.navbar img {
    cursor: pointer;
}

.links a {
    color: var(--cor-primaria);
    text-decoration: none;
    margin-right: 2rem;
}

.links a:hover{
    color: var(--cor-secundaria);
    font-weight: 700;
}
   
button {
    padding: 0.8rem 1rem;
    cursor: pointer;
    border: none;
    border-radius: 0.5rem;
    background: none;
    color: var(--cor-primaria);
    font-size: 0.9rem;
    font-weight: 500;
}

.btn-entrar:hover{
    color: var(--cor-secundaria);
    font-weight: 700;
}
  
.btn-cadastrar {
    background-color: var(--cor-secundaria);
    color: #FFF;
    opacity: 1;
}

.btn-cadastrar:hover{
    opacity: 0.85;
}

.menu {
    display: flex;
    align-items: center;
}
  
.menu .links a {
    margin-bottom: 2rem;
}

.sobre-nos {
    color: var(--cor-secundaria);
    font-size: 1rem;
    font-weight: 600;
}

.titulo-principal {
    font-size: 2.5rem;
    font-weight: 600;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.paragrafo-principal {
    color: var(--cor-primaria);
    font-size: 1.25rem;
    text-align: center;
}

.principal {
    margin-top: 6rem;
    text-align: center;
}

.metricas-container {
    margin-top: 6rem;
    margin-bottom: 6rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.metricas-container h1 {
    color: var(--cor-secundaria);
    font-weight: 600;
    font-size: 3.75rem;
    margin-bottom: 0.75rem;
}

.metricas-container span {
    font-weight: 500;
    font-size: 1.12rem;
}

.metricas-container p {
    color: var(--cor-primaria);
    font-size: 1rem;
    margin-top: 0.5rem;
}

.secao-imagem {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}

.secao-imagem span {
    color: var(--cor-secundaria);
    font-size: 0.8rem;
    font-weight: 500;
    background-color: #f9f4f4;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
}

.secao-imagem h1{
    font-size: 2.25rem;
    margin-top: 1rem;
    margin-bottom: 1.25rem;
}

.secao-imagem p {
    color: var(--cor-primaria);
    font-size: 1.25rem;
    margin-bottom: 4rem;
}

.secao-imagem img {
    width: 80%;
}


/* Seção de vagas abertas */
  
.vagas-abertas h3 {
    display: block;
    max-width: 50%;
    margin: 0 auto;
    margin-top: 4rem;
    margin-bottom: 2rem;
    font-weight: bold;
}
  
.vaga {
    border: 1px solid #EAECF0;
    border-radius: 0.5rem;
    padding: 1rem;
    max-width: 50%;
    margin: 0 auto;
    margin-bottom: 1rem;
    color: var(--cor-terciaria);
}
  
.vaga span.titulo-vaga {
    font-weight: 500;
    margin-bottom: 16px;
    font-size: 1.12rem;
}
  
.vaga .informacoes {
    margin-top: 1rem;
    font-size: 1rem;
    color: var(--cor-primaria);
    display: flex;
    gap: 2rem;
}

.depoimentos {
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    background-color: rgba(195, 25, 25, 0.05);
    max-width: 80%;
    margin: 8rem auto;
    align-items: center;
    padding: 3rem 2rem;
}

.span-depoimentos {
    font-size: 0.8rem;
    color: var(--cor-secundaria);
    font-weight: 600;
    margin-bottom: 1rem;
}

.p-depoimentos {
    font-size: 2.25rem;
    font-weight: 500;
    margin-bottom: 2rem;
    text-align: center;
}

.avatar {
    margin-bottom: 1rem;
}

.colaboradora-depoimentos {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 4px;
}

.cargo-depoimentos {
    color: var(--cor-primaria);
    font-size: 0.87rem;
    margin-bottom: 4rem;
}

.botao-rodape {
    display: flex;
}

.rodape {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6rem;
}

.rodape h1 { 
    margin-bottom: 1.25rem;
}

.rodape span {
    color: var(--cor-primaria);
    font-size: 1.25rem;
    margin-bottom: 2.5rem;
}

.rodape p {
    color: #98A2B3;
    font-size: 1rem;
    margin-top: 2rem;
    margin-bottom: 6rem;
}

.rodape input {
    outline: none;
    border: 1px solid #D0D5DD;
    border-radius: 10px;
}

#email {
    width: 360px;
    height: 48px;
    padding: 1rem;
}

#email::placeholder {
    font-size: 1rem;
}

#btn-email {
    background-color: var(--cor-secundaria);
    color: #FFF;
    padding: 14px;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    font-size: 1rem;
    margin-left: 1rem;
    opacity: 1;
}

#btn-email:hover{
    opacity: 0.85;
}